
:host {
    padding: 1rem 2rem;
}

.container-detalhes{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;    
    flex: 1;
}

.container-nome-descricao{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: .5rem;
    max-width: 25%;
    min-width: 25%;
    gap: 2rem;
    h1::first-letter {
        text-transform: uppercase;
    }

}
.botao-voltar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}    

.container-pokemon{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    min-width: 50%;
    width: 50%;
    img{
        width: 500px;
        height: 500px;
    }

    .pokebola {
        position: absolute;
        z-index: 0;
        filter: contrast(70%);
        transform: rotate(20deg);
    }

    .pokemon {
        position: relative;
        z-index: 1;
    }    
}

.container-tipo-fraquezas{
    display: flex;
    flex-direction: column;
    justify-content: flex-start ;
    width: 25%;
    min-width: 25%;
    max-width: 28%;
    gap: .5rem;   
    padding: .5rem;

    .tipos, .fraquezas{
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .tag-type {        
        display: flex;
        align-items: center;
        justify-content: flex-start;       
        gap: .5rem; 
        border-radius: 1rem;
        padding: .25rem 1rem;
        color: white;
        width: 50%;
    }
    .tag-fraqueza{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: rgb(227, 227, 227);
        border-radius: 1rem;        
        padding: .25rem 1rem .25rem 0;
        gap: 1rem;
    }
    .status-pokemon{
        display: flex;
        flex-direction: column;
        gap: .5rem;
        .barra-principal{
            width: 90%;
            background: gray;
            border-radius: 3px;
            div{
                background: black;
                height: 6px;
                border-radius: 3px;
            }
        }
        .barra-vida{
            width: 100%;            
        }
        .barra-sp{
            width: 65%;
        }
        .barra-atk{
            width: 62%;
        }
        .barra-def{
            width: 88%;
        }
    }
}
.container-tag{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.icones-fraquezas{
    width: 1.5rem;
    height: 1.5rem;
    background: var(--cor);
    box-shadow: 0px 0px 8px 0px var(--cor);
    padding: .25rem;
    border-radius: 50%;
    transform: scale(1.5);
}

.icones-tipos{
    width: 1.5rem;
    height: 1.5rem;
}