.container-lista {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    flex: 1;
    padding: 1rem 2rem;
}

.titulo {
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem 0;
}

.input-pesquisar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(237, 235, 235);
    border-radius: 30px;
    width: 100%;
    height: 50px;
    padding: 0 1rem;
    gap: 0.5rem;

    mat-icon {
        color: rgb(150, 149, 149);
    }

    input {
        border: none;
        background: none;
        outline: none;
        width: 100%;
        height: 80%;
        font-size: 20px;
    }
}

.ordernar-contador {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .contador {
        margin-left: auto;
    }
}

.list-cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    place-items: stretch start;
    gap: 1rem;
}

.card-pokemon {
    cursor: pointer;
    position: relative;
    display: grid;
    padding: 1rem 2rem;
    border-radius: 1rem;
    overflow: hidden;
    gap: 0.5rem;
    place-items: center start;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "TITLE TITLE ID"
        "TAG1 IMG IMG"
        "TAG2 IMG IMG"
        "- IMG IMG";

    h3 {
        grid-area: TITLE;
        color: white;
        font-size: 1.5rem;
        margin: 0;
    }

    strong {
        font-size: 1.5rem;
        color: rgb(0, 0, 0, 0.5);
    }

    .tag-type {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5rem;
        background: rgba(209, 209, 209, 0.3);
        border-radius: 1rem;
        padding: 0.25rem 1rem;
        color: white;
        backdrop-filter: blur(4px);
        z-index: 1;
    }

    .pokebola {
        position: absolute;
        z-index: 0;
        bottom: -30%;
        transform: rotate(20deg);
        right: 0;
        height: 100%;
    }

    .pokemon {
        position: relative;
        width: 100%;
        z-index: 1;
        grid-area: IMG;
    }
}

.icones-tipos{
    width: 1rem;
    height: 1rem;
}