<section class="container-conteudo">
    <nav class="navbar">
        <img class="logo" src="assets/images/pokemon_logo.svg">
    </nav>

    <section class="pokemon border">
        <div class="input-pesquisar border">
            <input matInput placeholder="Search your Pokémon!">
            <button mat-button><img src="../../../assets/images/pokebola.png" alt=""></button>
        </div>

        lorem

        <!-- <div class="informacao-pokemon border">            
                <p class="id-pokemon">#609</p>
                <p class="nome-pokemon">Chandelure</p>   
                <p class="detalhes-pokemon">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto nulla architecto beatae libero natus, ex sit ut. Ut, suscipit possimus fugiat quo ab quisquam quaerat dignissimos tempore sit vel exercitationem dicta voluptas eos atque omnis, eveniet voluptate corporis? Officia adipisci modi tempora perferendis natus nesciunt accusamus, cumque voluptate ad consectetur eius laudantium cupiditate numquam quisquam tenetur officiis dolorum nemo ratione esse quod eaque architecto voluptatibus similique rerum! Sed veniam alias eveniet saepe? Facilis, voluptatem! Optio voluptatibus eius laudantium quam! Excepturi!
                </p>  

                <p>Melhores aparições</p> 
                <div class="cards-container">

                    <div class="card-esquerdo">
                        <mat-card class=" cards">
                            <mat-card-content>
                                <img src="../../../assets/images/pokemon-go.png" alt="">
                            </mat-card-content>
                        </mat-card>
                        
                        <mat-card class="cards">
                            <mat-card-content>
                                <img src="../../../assets/images/pokemon-card.jpg" alt="">
                            </mat-card-content>
                        </mat-card>
                    </div>
                    

                    <div class="card-direito">
                        <mat-card class="cards">
                            <mat-card-content>
                                <img src="../../../assets/images/pokemon-go.png" alt="">
                            </mat-card-content>
                        </mat-card>
                        
                        <mat-card class="cards">
                            <mat-card-content>
                                <img src="../../../assets/images/pokemon-card.jpg" alt="">
                            </mat-card-content>
                        </mat-card>
                    </div>

    
                </div>
        </div> -->
    </section>
</section>
<router-outlet></router-outlet>